#enemyhpbar{
  color:white;
  width: 400px;
    background-color:#a3171e
}
#pp{
  color:#a3171e;
}
#expbar{
  color:white;
  width: 200px;
  background-color:purple;
}
#playerhpbar{
  color:white;
  background-color: blue;
}
#attackbar{
  background-color: yellow;
}
